* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Monstserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

header {
    height: 100px;
    background-color: #000;
    color: white;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;

}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.logoimg {
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 50px;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000;
}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #b28756;
    color: #CCC;
}

.button {
    display: inline-block;
    background-color: #b28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 15px;
}

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.banner h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 50px;
}

.banner h1 span {
    color: #b28756;
}

.banner h2 {
    text-transform: uppercase;
}

.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: #b28756;
}

.default {
    padding-top: 50px;
    padding-bottom: 50px;

}

.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title {
    font-size: 20px;

}

.default .section-desc {
    font-size: 12px;
    color: #CCC;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-body {
    max-width: 1140px;
    margin: auto;
}

.default.light {
    background-color: #F7F7F7;
}

.default.light .section-title,
.default.light .section-body {
    color: #000;
}

.default.dark {
    background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body {
    color: #fff;
}

/* 
    CSS PARA ÁREAS ESPECIFICAS
*/

.section-aboutus {
    display: flex;
}

.section-aboutus--left {
    flex: 1;
}

.section-aboutus--left p {
    font-size: 14px;
    line-height: 25px;
}

.section-aboutus--right {
    width: 520px;
    text-align: center;
}

.section-aboutus--right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

.section-services {
    display: flex;
}

.section-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}

.section-service:first-child {
    border-left: 1px solid #333;
}

.section-service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 12px;
}

.section-service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters {
    border: 1px solid #333;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0 20px;

}

.section-projects--filters ul,
.section-projects--filters li {
    list-style: none;
}

.section-projects--filters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color: #555;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}

.section-projects--filters li:hover,
.section-projects--filters li.active {
    border-bottom: 3px solid #b28756;
}

.section-projects--filters li:first-child {
    border-left: none;
}

.section-projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.section-projects--photo {
    width: 280px;

}

.section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img {
    width: inherit;
    height: inherit;

}

.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.section-projects--photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
}

.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
}

.bg-team {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team-area {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-team .sliders {
    width: 1000vw;
    height: 100%;
}

.section-team .slide {
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #FFF;
    margin-right: 20px;
}

.section-team .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 30px;
}

.section-team-area .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-team-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section-team-area .pointer.active {
    background-color: #b28756;
}

.section-team--avatar {
    width: 100px;
    height: auto;
}

.section-team--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}

.section-team--role {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}

.section-team--social {
    display: flex;
    margin-top: 20px;
}

.section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border-radius: 13px;
    margin-right: 10px;
}

.section-team--social a:hover {
    background-color: #b28756;
}

.section-client {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.section-client--photoinfo {
    font-weight: 600;
    font-size: 14px;
    margin-top: 30px;
}

.section-client--photoinfo p {
    margin-top: 5px;
}

.section-client--quote {
    margin-top: 30px;
    width: 650px;
    line-height: 20px;
    color: #999;
}

.section-client--quote p {
    margin-top: 10px;
}

.section-client .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-client .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section-client .pointer.active {
    background-color: #b28756;
}

.default.light.company-bg {
    display: flex;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    background-color: #fff;
}

.section-company {
    display: flex;
    width: 1000px;
    justify-content: space-between;
}

.section-price-area {
    padding-bottom: 50px;
}

.section-price {
    overflow: hidden;
    margin: auto;
}

.section-price .sliders {
    display: flex;
    height: 100%;
}

.section-price .slide {
    width: 300px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #FFF;
    margin-right: 20px;
}

.section-price .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 30px;

}

.section-price .slidearea .price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.section-price .slidearea h3 {
    font-size: 18px;
}

.section-price .slidearea .price h1 {
    font-size: 32px;
}

.section-price .slidearea .price span {
    color: #999;
}

.section-price .slidearea p {
    font-size: 12px;
    color: #555;
}


.section-price .slidearea .line {
    margin: 8px 0;
    width: 10px;
    border: 1px solid #999;
}

.section-price .slidearea .button {
    background-color: #000;
}

.section-price .slidearea .button:hover {
    background-color: #b28756;
}

.section-price-area .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-price-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section-price-area .pointer.active {
    background-color: #b28756;
}


.default.light.premium-bg {
    background-color: #fff;
    border-top: 1px solid #CCC;
    text-align: center;
}

.section-premium {
    display: flex;
    height: 370px;
    border-bottom: 1px solid #CCC;
}

.section-premium--left {
    flex: 1;
    margin-left: 150px;
}

.section-premium--right {
    width: 520px;
}

.section-premium--right .title {
    display: flex;
    text-align: left;
    gap: 15px;
    margin-bottom: 25px;
}


.section-premium--right .title .infos p {
    font-size: 12px;
    text-transform: none;
    color: #999;
    line-height: 20px;
    margin-bottom: 15px;
    font-weight: 500;
}

.section-premium--right .title ul {
    list-style: none;
    color: #999;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 20px;
    margin: 5px 0;
}

.section-premium--right img {
    height: 100%;
}

.premium-bg .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.premium-bg .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.premium-bg .pointer.active {
    background-color: #b28756;
}

.section-facts {
    display: flex;
}

.section-fact {
    flex: 1;
    text-align: center;
    padding: 15px;
}

.section-fact h1 {
    font-size: 40px;
    color: #b28756;
}

.section-fact .line {
    display: flex;
    margin: auto;
    border: 1px solid #999;
    width: 15px;
    margin-top: 10px;
}

.section-fact h4 {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 12px;
}

.section-fact p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

.light.share-height {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #CCC;
}

.section-share {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;

}

.section-share h3 {

    margin-left: 20px;
    text-transform: uppercase;
}

.section-share .social {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 100px;
}

.section-share .social p {
    font-weight: 600;
    margin-right: 10px;
}

.section-share .social img {
    clip-path: circle();
    padding: 10px;
}

.section-share .social .twitter {
    background-color: #00ACEC;

}

.section-share .social .linkedin {
    background-color: #0274B3;
}

.section-share .social .facebook {
    background-color: #0862F7;
}

.section-share .social .googleplus {
    background-color: #D54C3F;
}

.section-share .social .pinterest {
    background-color: #DF0018;
}

.section-contact {
    display: flex;
    justify-content: center;
}


.section-contact form {
    width: 500px;
    display: flexbox;
    flex-direction: column;
    text-align: center;
}

.section-contact .name-email {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.section-contact .name-email input {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid #999;
    background-color: transparent;
}

.section-contact input {
    height: 50px;
    border: none;
    outline: none;
    border-bottom: 2px solid #999;
    background-color: transparent;
    width: 100%;
}

.section-contact textarea {
    margin-top: 40px;
    resize: none;
    border: none;
    outline: none;
    border-bottom: 2px solid #999;
    background-color: transparent;
    width: 100%;
}

.footer-1{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.footer-social, .footer-text, .footer-subscribe {
    flex: 1;
}

.footer-social{
}

.footer-social img{
    clip-path: circle();
    padding: 10px;
    background-color: #999;
    margin-right: 5px;
}

.footer-social img:hover{
    background-color: #b28756;
}

.section-body {
    position: relative; /* Posição relativa para o contêiner pai */
}

.copyright {
    position: absolute; /* Posição absoluta para a div copyright */
    bottom: 0; /* Alinha a div copyright na parte inferior */
    font-weight: 700;
    text-transform: uppercase;
}

.footer-text{
    color: #999;
}

.footer-subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #363636;
}

.footer-subscribe input{
    width: 60%;
    padding: 20px 10px;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #999;
    color: #999;
}

.footer-subscribe input::placeholder{
    text-align: center;
    text-transform: uppercase;
    color: #999;
}