body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Monstserrat', Arial, Helvetica, sans-serif;
}

header {
    height: 103px;
    background-color: #000;
    color: white;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;

}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.logoimg {
    width: 80px;
    height: 80px;
    background-color: #b28756;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000;
}

.menu li a:hover, .menu .active a {
    border-bottom: 5px solid #b28756;
}
